html {
  
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
}
canvas {
  position: fixed;
  z-index: -1;
}
















/* Nav Bar CSS */

.thispage{
  color: white;
  z-index: 0;
  overflow-y: scroll;
  justify-content: space-around;
  overflow-x: hidden;
  height: 100vh;
  scroll-behavior: smooth;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden{
  visibility: hidden;
  display: none;
}
.landing{
  display: flex;
  justify-content: center;
  transform: rotate(-90deg);
  /* width: 90%; */
  margin-left: -90%;
  z-index: 1;
  font-family: 'Lato', sans-serif;
  position: fixed;
  font-family: 'Poppins', sans-serif;
}
a, a:hover, a:visited {
  color: white;
  text-decoration: none;
} 
nav{
    display: flex;
    width: 90vh;
    border: 5px solid white;
    margin-top: 3vh;
    height: 9vh;
    align-items: center;
    justify-content: center;
}
.left ul{
    display: flex;
    margin: auto ;
    font-size: larger;
    justify-content: center;
    align-items: center;
    
}
.left ul a li{
    list-style: none;
    margin : 0 4vh;

}
.left ul a{
    display: flex   ;
}
.left > ul  :hover{
    cursor: pointer;
    color: black;
    background-color: white;
    font-size: large;
    border-radius: 12px;
}
.right{
    margin-right: 5vh;
    transform: rotate(90deg);
}


















.about{
  display: flex;
  border-radius: 2vh;
  height: 60%;
  width: 60%;
  flex-direction: column;
  align-items: center;
}
#pagetitle2{
  margin-top: -10%;
  margin-bottom: 5%;
}
.info{
  display: flex;
  margin-top: 7%;
  justify-content: space-between;
}
.photo{
  margin-right: 15%;
}
img{
  height: 40vh;
  width: 40vh;
}
.intro{
  /* border: 4px solid red; */
  display: flex;
  text-align: center;
  flex-direction: column;
  /* justify-content: center; */
  align-items:  center;
}
.hello{
  display: inline;
}
.buttons{
  display:flex ;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
  width: 100%;
  margin-top: 5%;
}
.btn{
  background: #00000000;
  border: 3px solid white;
  border-radius: 3vh;
  color: white;
  height: 4rem;
  width: 8rem;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(0, 0, 0);
  /* border: 1px solid white; */
  box-shadow: 5px 5px 30px 0 rgba(250, 250, 248, 0.359);
}
#two{
  background-color: #fff;
  color: black;
  font-weight: 900;
  border: 5px solid rgb(62, 58, 58);
}



























.pagetitle2{
  margin-top: 68%;
  margin-bottom: 15%;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 2vh;
  margin-left: -8%;
  height: 30%;
  width: 16vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills{
  justify-content: space-evenly;
  align-items: center;
  width: 75vw;
  height: auto;
  text-align: center;
}
.skill{
  /* border: 2px solid green ; */
  border-radius: 10%;
  width: 6vw;
  padding-right:4vh;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin: 5% 5% 5% 5%;
}
.development , .academic{
  display: initial;
  width: 30%;
  padding: 1.5vw;
  border: 3px solid gray;
  border-radius: 8vh;
}
.skillholder{
  display: grid;
  grid-template-columns: auto auto auto;

}



























/* Coding Profile  */
.cp{
  width: 40vh;
  margin: 3vh 5vh;
  height: 18vh;
  justify-content: space-between;
  border: 10px solid rgba(128, 128, 128, 0.305);
}
#CodingProfileSection{
  margin-bottom: -5%;
}
.experience{
  border: 4px solid rgba(128, 128, 128, 0.743);
  border-radius: 5%;
}